{% extends "base.html" %}

{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #573399;
    }
</style>
{% endblock %}

{% block title %}{% endblock %}

{% block content %}

<!-- Header and welcome message -->
<div class="important">
    <center><h1>Welcome to Seiri 整理</h1>
    <p class="important">
        Get on track and organize your life today!
    </p></center>
</div>

<div class="important">
    <center><a class="btn btn-primary" href="{{ url_for('sign_up') }}" role="button">Sign Up Here!</a>
    </center>
</div>


{% endblock %}