{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block
title %}{% endblock %} {% block content %}

<div class="header">
  <h1>Task Management Hub 整理</h1>
</div>

<div class="table">
  <table border style="width: 50%" style="height: 700px">
    <tr style="background-color: aliceblue">
      <th>Task Name</th>
      <th>Task Description</th>
      <th></th>
      <th></th>
    </tr>
    <tbody>
      {% for row in record %}
      <tr style="background-color: aliceblue">
        <td>{{row.title}}</td>
        <td>{{row.content}}</td>
        <td>
          <button
            class="btn btn-lg btn-primary btn-sm edit-delete"
            href="{{ url_for('edit_task', user_id=row.user_id) }}"
            role="button"
          >
            Edit
          </button>
        </td>

        <td>
          <button
            class="btn btn-lg btn-primary btn-sm edit-delete"
            href="{{ url_for('delete_task', user_id=row.user_id) }}"
            role="button"
          >
            Delete
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<a class="btn btn-primary ches" href="{{ url_for('new_task') }}">Add Record</a>

{% endblock %}
