{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block
title %}{% endblock %} {% block content %}

<div class="header">
  <h1>Task Management Hub 整理</h1>
</div>

<div class="table">
  <table border style="width: 50%" style="height: 700px">
    <tr style="background-color: aliceblue">
      <th style="background-color: #573399">Task Name</th>
      <th style="background-color: #573399">Task Description</th>
      <th style="background-color: #573399">Edit</th>
      <th style="background-color: #573399">Delete</th>
    </tr>
    <tbody>
      {% for row in record %}
      <tr style="background-color: #906ad8">
        <td>{{row.title}}</td>
        <td>{{row.content}}</td>
        <td>
          <a
            class="btn btn-lg btn-primary btn-sm"
            href="{{ url_for('edit_task', task_id=row.task_id) }}"
            role="button"
          >
            Edit
          </a>
        </td>

        <td>
          <a
            class="btn btn-lg btn-primary btn-sm"
            href="{{ url_for('delete_task', task_id=row.task_id) }}"
            role="button"
          >
            Delete
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<a class="btn btn-primary ches" href="{{ url_for('new_task') }}">New Task</a>

{% endblock %}
