<body>
    <center>
        <h1>Users</h1><br><br>
        <table border style="width:50%" style="height: 700px;">
            <tr bgcolor="silver">
                <th>id</th>
                <th>first name</th>
                <th>last name</th>
                <th>username</th>
                <th>email</th>
                <th>password</th>
            </tr>
            <tbody>
                {% for row in record %}
                       <tr>
                           <td>{{row.id}}</td>
                           <td>{{row.first_name}}</td>
                           <td>{{row.surname}}</td>
                           <td>{{row.username}}</td>
                           <td>{{row.email}}</td>
                           <td>{{row.password}}</td>
                       </tr>
                {% endfor %}
               </tbody>
        </table>
       
        <form action="{{ url_for('signup') }}">
            <input type="submit" value="Back" >
        </form>
        <form action="{{ url_for('login') }}">
            <input type="submit" value="Login" >
        </form>
    </center>
</body>